* {
	margin: 0px;
	padding: 0px;
}

body, html{
  height: 100%;
  background-color: #8282BD;
  max-width: 100vw!important;

}

#foto-borda {
	float: left;
	margin-top: 120px;
	margin-left: 35px;
	position: absolute;
	width: 40%;
}

#foto-pulseira {
	width: 30%;
}

#frame {
	margin-left: 50px;
	margin-top: 25px;
	position: absolute;
	width: 6%;
}

.fundo{
  height: 100%;
  width: 100%;
}

.fundo-2 {
  background-color: #17177F!important;
  height: 20%;
  width: 100%;
  bottom: 0;
  margin-top: 230px;
  
}

#gif {
 	margin-top: 150px;
 	position: absolute;
	width: 75%;
	margin-left: 5vw;
}

#imagens-fundo {
	width: 100%;
	z-index: 0;
	
}

.pag{
	margin-top: 90px;
}

.title-land{
background-color: #8282BD;
width: 50px;
height: 50px;
position: absolute;
}

#mock-1 {
	margin-left: 5vw;
	margin-top: 70px;
	position: absolute;
	width: 80%;
}

#mock-2 {
	margin-top: 80px;
	position: absolute;
	width: 90%;
	margin-left: 2vw;

}

#pulseira {
	margin-top: 55px;
	width: 75%;
}

#texto-1 {
	color: white;
	font-family: Montserrat Medium;
	font-size: 3vw;
	margin-left: 140px;
	padding-top: 7%;
}

#texto-2 {
	color: white;
	font-family: Montserrat Medium;
	font-size: 3vw;
	margin-top: 30px;
	position: absolute;
	text-align: center;
}

#texto-3 {
	color: white;
	font-family: Montserrat Medium;
	font-size: 3vw;
	margin-left: 52vw;
	padding-top: 20%;
	width: 300px;
}

#texto-4 {
	color: white;
	font-family: Montserrat Medium;
	font-size: 3vw;
	margin-left: 52vw;

	padding-top: 41.5%;
}

#texto-5 {
	color: white;
	font-family: Montserrat Medium;
	font-size: 3vw;
	margin-left: 52vw;

	padding-top: 30%;
}

#texto-6 {
	color: white;
	font-family: Montserrat Medium;
	font-size: 3vw;
	margin-left: 52vw;

	padding-top: 25%;
}

.linhaAmarela{
 width: 500px;
 margin-left: 20vw;
}

#rodape {
	color: white;
	font-family: Montserrat Medium;
	font-size: 1vw;
	padding-top: 7px;
	text-align: center;
	bottom: 0;
}
#roleta {
	margin-left: 30%;
	margin-top: 3%;
	width: 60%;
}

.video {
	margin-left: 12vw;
	margin-top: 20%;
	margin-bottom: 10%;
	width: 75%;
	height: 300px;
}




